<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          
          
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">product</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center mx-2">
                    <p class="text-muted mb-0">product name</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center mx-2">
                    <p class="text-muted mb-0 small">price</p>
                  </div>
                   <div class="col-md-2 text-center d-flex justify-content-center align-items-center mx-2">
                    <p class="text-muted mb-0 small">quantity</p>
                  </div>
                  
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                {{!-- next line --}}
                {{#each products}}
                <div class="card-body">
                  <div class="row">

<div class="col-md-2 text-center d-flex justify-content-center align-items-center ">
                     <img src="/product-images/{{this.product._id}}.jpg " alt="" style="width:20rem;height:20rem" >
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center mx-2">
                      <p class="text-muted mb-0">{{this.product.Name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center mx-2">
                      <p class="text-muted mb-0">{{this.product.Price}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center mx-2">
                      <p class="text-muted mb-0">{{this.quantity}} </p>
                    </div>

                   
                    

                    

                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                    {{/each}}



                    </div>
                  </div>
                </div>


               
              </div>
             
            </div>
          </div>

        </div>
      </div>
</section>



<style>
  .gradient-custom {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #4d4797 74%);

  }
</style>